.Container {
  height: 100vh;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  background-color: rgb(134, 157, 197);
}

.PageTitle {
  font-size: xx-large;
  color: darkblue;
}

.ItemsContainer {
  display: flex;
}

.ItemInput {
  margin: 5px;
}

.CountInput {
  margin: 5px;
}

.CategoryList {
  margin: 5px;
  position: relative;
  left: 16%;
}

.CountContainer {
  display: flex;
  flex-direction: column;
}

.AddbuttonsContainer {
  display: flex;
  position: relative;
  left: -5px;
}

.AddButton {
  display: flex;
  position: relative;
  left: 24%;
}

.CountButtonContainer {
  display: flex;
  position: relative;
  top: 4px;
  height: 28px;
}

.ClearButton {
  display: flex;
  position: relative;
  left: 34%;
}

.IncButton {
  display: flex;
  position: relative;
  left: 4%;
}

.DecButton {
  display: flex;
  position: relative;
  left: 12%;
}

.CategorizedList {
  margin-top: 20px;
  display: flex;
  overflow-y: auto;
}

.CategorizedListAcc {
  min-width: 225px;
  /*border: solid 1px darkblue;*/
  border-radius: 5px;
}

.CategorizedListAccCard {
  border: 1px solid #59839c;
  background-color: #59839c !important;
  margin: 10px 0;
  border-radius: 4px !important;
}

.CategorizedListAccCardHeader {
  font-size: larger !important;
  font-weight: bolder;
  padding: 16px !important;
}

.CategorizedListAccCardData {
  background-color: #b6c7d8;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding-right: 5px !important;
}

.CategorizedListAccCardButton {
  position: relative;
  top: -2px;
  border: none;
  background-color: #b6c7d8;
}

.CategorizedListAccCardButton:hover {
  background-color: #59839c;
}
